.nav.navbar-nav {
  font-size: 15px;
  flex-direction: row;
  width: 70%;

}
.navbar-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.navbar-header:before {
  content: none;
}

.navbar-header:after {
  content: none;
}

.nav-item {
  margin-right: 10px;
}

.login-button {
  font-size: 15px;
  color: #ebebeb;
}

.dropdown-menu {
  position: absolute;
}

.login-button {
  font-size: 17px;
  padding: 9.5px 0 9.5px 15px;
}

.btn-link:active {
  background-color: transparent;
}

@media (max-width: 1200px) {
  #searchForm {
    display: none;
  }
}

li > a.active {
  color: #f97924;
}
